# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ethan Westover
	email = ethan.westover@joltup.com
[color]
	ui = auto
[alias]
  i = init
  cl = clone
  a = add -A
  c = commit -m
  ca = commit -a -m
  po = push origin
  s = status
  co = checkout
  new = checkout -b
  com = checkout master
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  pu = pull
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  undo = checkout --
  deletebranches = !sh -c \"git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d\"
  deletebrancheshere = !sh -c \"git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d\"

  la = "!git config -l | grep alias | cut -c 7-"
[merge]
	stat = true
